In [19]:
import pandas as pd

In [20]:
df1 = pd.read_csv(r"data\dresses_bd_processed_data.csv")
df2 = pd.read_csv(r"data\jeans_bd_processed_data.csv")

In [21]:
df1.head(2)

,selling_price,discount,category_id,meta_info,product_id,pdp_url,sku,brand,department_id,last_seen_date,launch_on,mrp,product_name,feature_image_s3,channel_id,feature_list,description,style_attributes,pdp_images_s3
0,{'INR': 474848.9539},0.0,30,Slim fit. Designed to hit at the ankle. UK siz...,b613d7b5dfe86f3e695d931d31fd729fdf44e181f14079...,https://www.ralphlauren.co.uk/en/kristian-silk...,479495,RALPH LAUREN,2,2025-05-01,2020-02-29,{'INR': 474848.9539},Kristian Silk Tuxedo Dress,https://gallery.stylumia.com/originals/2020/02...,14,"['Slim fit. Designed to hit at the ankle.', 'U...",The Kristian evening dress is informed by the ...,{},['https://gallery.stylumia.com/originals/2020/...
1,{'INR': 464648.6919},0.0,30,Slim fit. Designed to hit at the ankle. UK siz...,482b10a23f8d00cfc7c9bbeeac4e26d25dd303d8e62e97...,https://www.ralphlauren.co.uk/en/kristian-silk...,502670,RALPH LAUREN,2,2025-05-08,2020-02-29,{'INR': 464648.6919},Kristian Silk Tuxedo Dress,https://gallery.stylumia.com/originals/2020/02...,14,"['Slim fit. Designed to hit at the ankle.', 'U...",The Kristian evening dress is informed by the ...,{},['https://gallery.stylumia.com/originals/2020/...

In [22]:
null_counts = df1.isnull().sum()

# Display the results
print("Null values count per column:")
print(null_counts)

#Display columns with null values only
print("\nColumns with null values:")
print(null_counts[null_counts > 0])

#Optional: Calculate total null values in entire DataFrame
total_nulls = df1.isnull().sum().sum()
print(f"\nTotal null values in dataset: {total_nulls}")

Null values count per column:
selling_price          0
discount               0
category_id            0
meta_info             71
product_id             0
pdp_url                0
sku                    0
brand                  0
department_id          0
last_seen_date         0
launch_on              0
mrp                    0
product_name           0
feature_image_s3       0
channel_id             0
feature_list           0
description         5012
style_attributes       0
pdp_images_s3          0
dtype: int64

Columns with null values:
meta_info        71
description    5012
dtype: int64

Total null values in dataset: 5083

In [24]:
null_counts = df2.isnull().sum()

# Display the results
print("Null values count per column:")
print(null_counts)

#Display columns with null values only
print("\nColumns with null values:")
print(null_counts[null_counts > 0])

#Optional: Calculate total null values in entire DataFrame
total_nulls = df2.isnull().sum().sum()
print(f"\nTotal null values in dataset: {total_nulls}")

Null values count per column:
selling_price         0
discount              0
category_id           0
meta_info             0
product_id            0
pdp_url               0
sku                   0
brand                 0
department_id         0
last_seen_date        0
launch_on             0
mrp                   0
product_name          0
feature_image_s3      0
channel_id            0
feature_list          0
description         886
style_attributes      0
pdp_images_s3         0
dtype: int64

Columns with null values:
description    886
dtype: int64

Total null values in dataset: 886

In [26]:
# Function to check for empty containers
def count_empty_containers(series):
    empty_lists = series.apply(lambda x: isinstance(x, list) and len(x) == 0).sum()
    empty_dicts = series.apply(lambda x: isinstance(x, dict) and len(x) == 0).sum()
    empty_tuples = series.apply(lambda x: isinstance(x, tuple) and len(x) == 0).sum()
    return pd.Series({
        '[]': empty_lists,
        '{}': empty_dicts,
        '()': empty_tuples
    })

# 1. Count null values
null_counts = df2.isnull().sum()

# 2. Count empty containers
empty_counts = df2.apply(count_empty_containers).T

# 3. Combine results into a single summary table
summary_table = pd.concat([
    null_counts.rename('Null Values'),
    empty_counts['[]'].rename('Empty Lists []'),
    empty_counts['{}'].rename('Empty Dicts {}'),
    empty_counts['()'].rename('Empty Tuples ()')
], axis=1)

# 4. Add a total row
summary_table.loc['TOTAL'] = summary_table.sum()

# Display results
print("Column-wise Analysis of Empty Values:")
display(summary_table)

# Optional detailed breakdown
print("\nDetailed Breakdown:")
for col in df2.columns:
    col_stats = summary_table.loc[col]
    if any(col_stats > 0):
        print(f"\nColumn: {col}")
        print(f"Null values: {col_stats['Null Values']}")
        print(f"Empty lists: {col_stats['Empty Lists []']}")
        print(f"Empty dicts: {col_stats['Empty Dicts {}']}")
        print(f"Empty tuples: {col_stats['Empty Tuples ()']}")

Column-wise Analysis of Empty Values:

                  Null Values  Empty Lists []  Empty Dicts {}  Empty Tuples ()
selling_price               0               0               0                0
discount                    0               0               0                0
category_id                 0               0               0                0
meta_info                   0               0               0                0
product_id                  0               0               0                0
pdp_url                     0               0               0                0
sku                         0               0               0                0
brand                       0               0               0                0
department_id               0               0               0                0
last_seen_date              0               0               0                0
launch_on                   0               0               0                0
mrp                         0               0               0                0
product_name                0               0               0                0
feature_image_s3            0               0               0                0
channel_id                  0               0               0                0
feature_list                0               0               0                0
description               886               0               0                0
style_attributes            0               0               0                0
pdp_images_s3               0               0               0                0
TOTAL                     886               0               0                0

Detailed Breakdown:

Column: description
Null values: 886
Empty lists: 0
Empty dicts: 0
Empty tuples: 0

In [27]:
# Function to check for empty containers
def count_empty_containers(series):
    empty_lists = series.apply(lambda x: isinstance(x, list) and len(x) == 0).sum()
    empty_dicts = series.apply(lambda x: isinstance(x, dict) and len(x) == 0).sum()
    empty_tuples = series.apply(lambda x: isinstance(x, tuple) and len(x) == 0).sum()
    return pd.Series({
        '[]': empty_lists,
        '{}': empty_dicts,
        '()': empty_tuples
    })

# 1. Count null values
null_counts = df1.isnull().sum()

# 2. Count empty containers
empty_counts = df1.apply(count_empty_containers).T

# 3. Combine results into a single summary table
summary_table = pd.concat([
    null_counts.rename('Null Values'),
    empty_counts['[]'].rename('Empty Lists []'),
    empty_counts['{}'].rename('Empty Dicts {}'),
    empty_counts['()'].rename('Empty Tuples ()')
], axis=1)

# 4. Add a total row
summary_table.loc['TOTAL'] = summary_table.sum()

# Display results
print("Column-wise Analysis of Empty Values:")
display(summary_table)

# Optional detailed breakdown
print("\nDetailed Breakdown:")
for col in df1.columns:
    col_stats = summary_table.loc[col]
    if any(col_stats > 0):
        print(f"\nColumn: {col}")
        print(f"Null values: {col_stats['Null Values']}")
        print(f"Empty lists: {col_stats['Empty Lists []']}")
        print(f"Empty dicts: {col_stats['Empty Dicts {}']}")
        print(f"Empty tuples: {col_stats['Empty Tuples ()']}")

Column-wise Analysis of Empty Values:

                  Null Values  Empty Lists []  Empty Dicts {}  Empty Tuples ()
selling_price               0               0               0                0
discount                    0               0               0                0
category_id                 0               0               0                0
meta_info                  71               0               0                0
product_id                  0               0               0                0
pdp_url                     0               0               0                0
sku                         0               0               0                0
brand                       0               0               0                0
department_id               0               0               0                0
last_seen_date              0               0               0                0
launch_on                   0               0               0                0
mrp                         0               0               0                0
product_name                0               0               0                0
feature_image_s3            0               0               0                0
channel_id                  0               0               0                0
feature_list                0               0               0                0
description              5012               0               0                0
style_attributes            0               0               0                0
pdp_images_s3               0               0               0                0
TOTAL                    5083               0               0                0

Detailed Breakdown:

Column: meta_info
Null values: 71
Empty lists: 0
Empty dicts: 0
Empty tuples: 0

Column: description
Null values: 5012
Empty lists: 0
Empty dicts: 0
Empty tuples: 0

In [23]:
df1.head()

,selling_price,discount,category_id,meta_info,product_id,pdp_url,sku,brand,department_id,last_seen_date,launch_on,mrp,product_name,feature_image_s3,channel_id,feature_list,description,style_attributes,pdp_images_s3
0,{'INR': 474848.9539},0.0,30,Slim fit. Designed to hit at the ankle. UK siz...,b613d7b5dfe86f3e695d931d31fd729fdf44e181f14079...,https://www.ralphlauren.co.uk/en/kristian-silk...,479495,RALPH LAUREN,2,2025-05-01,2020-02-29,{'INR': 474848.9539},Kristian Silk Tuxedo Dress,https://gallery.stylumia.com/originals/2020/02...,14,"['Slim fit. Designed to hit at the ankle.', 'U...",The Kristian evening dress is informed by the ...,{},['https://gallery.stylumia.com/originals/2020/...
1,{'INR': 464648.6919},0.0,30,Slim fit. Designed to hit at the ankle. UK siz...,482b10a23f8d00cfc7c9bbeeac4e26d25dd303d8e62e97...,https://www.ralphlauren.co.uk/en/kristian-silk...,502670,RALPH LAUREN,2,2025-05-08,2020-02-29,{'INR': 464648.6919},Kristian Silk Tuxedo Dress,https://gallery.stylumia.com/originals/2020/02...,14,"['Slim fit. Designed to hit at the ankle.', 'U...",The Kristian evening dress is informed by the ...,{},['https://gallery.stylumia.com/originals/2020/...
2,{'INR': 29496.0812},0.0,30,Fit-and-flare silhouette. Intended to hit at t...,3508b052ef7a5eea820423b97713612bc92a3f2301a3d3...,https://www.ralphlauren.co.uk/en/fit-and-flare...,478766,RALPH LAUREN,2,2025-05-08,2020-02-29,{'INR': 29496.0812},Fit-and-Flare Shirtdress,https://gallery.stylumia.com/originals/2020/02...,14,['Fit-and-flare silhouette. Intended to hit at...,Airy georgette and a flattering fit-and-flare ...,{},['https://gallery.stylumia.com/originals/2020/...
3,{'INR': 17156.9392},0.0,30,"Fits true to size; take your normal size, Stra...",6360245240b68885bd4dbcef8d8856c0fb13f1314769f5...,https://www.anthropologie.com/shop/adena-crepe...,50297209_041,BHLDN,2,2025-01-31,2020-05-27,{'INR': 17156.9392},Adena Crepe Dress,https://gallery.stylumia.com/originals/2020/05...,48,"['Back zip', 'Polyester; polyester lining', 'P...","A sleek square neckline tops this stretchy, bo...","{'modelNotes': '', 'dimensions': 'Fits true to...",['https://gallery.stylumia.com/originals/2020/...
4,{'INR': 26079.5467},0.0,30,Fit-and-flare silhouette Designed to hit at th...,5d07037957e64d1e218499cb7d7a8e5e57aa59249bb806...,https://www.ralphlauren.co.uk/en/belted-cotton...,478750,RALPH LAUREN,2,2025-05-08,2021-02-12,{'INR': 26079.5467},Belted Cotton-Blend Shirtdress,https://gallery.stylumia.com/originals/2021/02...,14,['Fit-and-flare silhouette Designed to hit at ...,This iteration of Lauren's iconic shirtdress i...,{},['https://gallery.stylumia.com/originals/2021/...

In [29]:
import re

def clean_and_convert(value):
    try:
        # Remove all commas first to fix malformed strings
        clean_str = re.sub(r',\s*', '', str(value))
        
        # Extract the numeric value using regex
        match = re.search(r'\d+\.?\d*', clean_str)
        if match:
            number = float(match.group())
            return int(round(number))  # Round and convert to integer
        return None
    except:
        return None

def format_indian(number):
    """Format number in Indian numbering system (lakhs/crores)"""
    if pd.isna(number):
        return None
    s = str(int(number))
    if len(s) <= 3:
        return s
    result = []
    result.append(s[-3:])  # Last 3 digits
    s = s[:-3]
    while len(s) > 0:
        result.append(s[-2:] if len(s) > 1 else s)  # Next 2 digits
        s = s[:-2]
    return ','.join(reversed(result))

# Clean and extract numeric values
df1['selling_price'] = df1['selling_price'].apply(clean_and_convert)

# Format with Indian numbering system
df1['selling_price'] = df1['selling_price'].apply(format_indian)

# Display results
print(df1['selling_price'].head())

0    4,74,849
1    4,64,649
2      29,496
3      17,157
4      26,080
Name: selling_price, dtype: object

In [30]:
import re

def clean_and_convert(value):
    try:
        # Remove all commas first to fix malformed strings
        clean_str = re.sub(r',\s*', '', str(value))
        
        # Extract the numeric value using regex
        match = re.search(r'\d+\.?\d*', clean_str)
        if match:
            number = float(match.group())
            return int(round(number))  # Round and convert to integer
        return None
    except:
        return None

def format_indian(number):
    """Format number in Indian numbering system (lakhs/crores)"""
    if pd.isna(number):
        return None
    s = str(int(number))
    if len(s) <= 3:
        return s
    result = []
    result.append(s[-3:])  # Last 3 digits
    s = s[:-3]
    while len(s) > 0:
        result.append(s[-2:] if len(s) > 1 else s)  # Next 2 digits
        s = s[:-2]
    return ','.join(reversed(result))

# Clean and extract numeric values
df2['selling_price'] = df2['selling_price'].apply(clean_and_convert)

# Format with Indian numbering system
df2['selling_price'] = df2['selling_price'].apply(format_indian)

# Display results
print(df2['selling_price'].head())

0    286
1    286
2    392
3    170
4    185
Name: selling_price, dtype: object

In [31]:
# Drop the specified columns
df1 = df1.drop(columns=['sku', 'channel_id'], errors='ignore')

# Verify the columns were dropped
print("Remaining columns:", df1.columns.tolist())

Remaining columns: ['selling_price', 'discount', 'category_id', 'meta_info', 'product_id', 'pdp_url', 'brand', 'department_id', 'last_seen_date', 'launch_on', 'mrp', 'product_name', 'feature_image_s3', 'feature_list', 'description', 'style_attributes', 'pdp_images_s3']

In [32]:
# Drop the specified columns
df2 = df2.drop(columns=['sku', 'channel_id'], errors='ignore')

# Verify the columns were dropped
print("Remaining columns:", df1.columns.tolist())

Remaining columns: ['selling_price', 'discount', 'category_id', 'meta_info', 'product_id', 'pdp_url', 'brand', 'department_id', 'last_seen_date', 'launch_on', 'mrp', 'product_name', 'feature_image_s3', 'feature_list', 'description', 'style_attributes', 'pdp_images_s3']